<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        ToDo List
      </ion-title>
      <ion-searchbar color="transparent"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-content fullscreen>
    <div class="bg-list">
      <ion-card>
        <ion-item lines="none">
          <ion-input placeholder="Describir Tarea" (ionChange)="obtenerTarea($event)"></ion-input>
          <ion-button (click)="agregarTarea()" slot="end" shape="round">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <ion-select placeholder="Prioridad" (ionChange)="obtenerPrioridad($event)">
            <ion-select-option value="alta">Alta</ion-select-option>
            <ion-select-option value="media">Media</ion-select-option>
            <ion-select-option value="baja">Baja</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>

      <ion-list *ngFor="let lista of listas, let i = index">
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-avatar>
              <ion-icon *ngIf="lista.prioridad === 'alta'" name="bookmark" color="danger"></ion-icon>
              <ion-icon *ngIf="lista.prioridad === 'media'" name="bookmark" color="warning"></ion-icon>
              <ion-icon *ngIf="lista.prioridad === 'baja'" name="bookmark" color="succes"></ion-icon>
            </ion-avatar>
            <ion-checkbox slot="start" color="success" (ionChange)="tareaCompleta($event,lista.id)"></ion-checkbox>
            <h1>{{lista.title}}</h1>
          </ion-item>
          <ion-item-options>
            <ion-button outline color="white">
              <ion-icon name="create-outline"></ion-icon>
              <ion-label>Editar</ion-label>
            </ion-button>
            <ion-button (click)="eliminarTarea(lista.id)" outline color="white">
              <ion-icon name="trash-outline"></ion-icon>
              <ion-label>Eliminar</ion-label>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-content>
</ion-app>