@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");

.bg-list{
    padding:1px;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}

.nav-todo{
    padding:1px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}